.mask-one,
.mask-two,
.mask-three {
  display: none;
}

.wraper {
  max-width: 375px;
}

.reviews-box {
  width: 100%;
  height: 200px;
}

.reviews-list {
  display: flex;
  margin-left: 0;
  margin-bottom: 32px;
}

.reviews-list-avatar {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 32px;
  border-radius: 10px;
}

.reviews-card {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  background: #1c1d20;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.name-item {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.item-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
  .wraper {
    max-width: 768px;
  }

  .reviews-box {
    width: 296px;
  }

  .reviews-list {
    display: flex;

    justify-content: space-between;

  }
}

@media screen and (min-width: 1440px) {
  .wraper {
    min-width: 1440px;
  }

  .reviews-box {
    width: 284px;
  }

  .reviews-list {
    display: flex;

  }

  .mask-one,
  .mask-two,
  .mask-three {
    display: inline;
  }
}

.swiper-container .custom-swiper-button-prev,
.swiper-container .custom-swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background: none;
  outline: none;
  position: relative;
}

.swiper-container .left,
.swiper-container .right {
  width: 24px;
  height: 24px;
  outline: none;
}

.swiper-container .swiper-navigation {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-container .custom-swiper-button-prev[disabled] svg path,
.swiper-container .custom-swiper-button-next[disabled] svg path {
  stroke: #3b3b3b;
  /* Змінюємо колір стрілочки на тьмяний */
}

.swiper-container .custom-swiper-button-prev[disabled],
.swiper-container .custom-swiper-button-next[disabled] {
  border: 1px solid rgba(250, 250, 250, 0.2);
  /* Змінюємо колір кнопки на тьмяний */
}

.swiper-container .custom-swiper-button-prev svg path,
.swiper-container .custom-swiper-button-next svg path {
  stroke: #fafafa;
  /* Колір стрілочки в активному стані */
}

.error-message {
  color: #ed3b44;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

@media (min-width: 768px) {

  .swiper-container .custom-swiper-button-prev,
  .swiper-container .custom-swiper-button-next {
    padding: 18px;
    width: 68px;
    height: 68px;
    background: none;
  }

  .swiper-container .swiper-navigation {
    gap: 20px;
  }

  .swiper-container .left,
  .swiper-container .right {
    width: 32px;
    height: 32px;
  }
}

.swiper-outer-container {
  overflow: hidden;
  width: 100%;
}

.swiper-container {
  overflow: visible;
}

@media (max-width: 767px) {
  .swiper-outer-container {
    padding: 0 15px;
    /* Це допоможе зменшити відступи на мобільних пристроях */
  }
}